#app {
  background-color: #FFFFD7;

  height: 100vh;
}

#launcher {
  width: 480px;
  height: 320px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#launcher-input > * {
  margin: 5px;
}

#launcher-controls > * {
  margin: 5px;
}

#remote-video {
  background-color: #FFBBBB;

  width: 100vw;
  height: 100vh;
}

.orange {
  background-color: #F0CFA4;
}

.green {
  background-color: #A4F0B7;
}

#local-video {
  width: 320px;
  height: 180px;

  position: absolute;

  top: 10px;
  right: 10px;
}

#controls {
  background-color: #F0CBFE;

  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}

#controls > button {
  margin: 5px;
}

*, *:before, *:after {
  box-sizing: border-box;
}
